:root {
  --branding-color: #6C63FF;
  --secoundary-color : #F9F7FE;
  --heading-font-family : "Playfair Display", serif;
  --default-font-family : "Poppins", sans-serif;
}
body {
  font-family: var(--default-font-family);
}
h1,h2,h3,h4 {
    color: black;
    font-family:var(--heading-font-family);
    font-weight: bold;
  }
  h1 {
    font-size: 96px;
    line-height: 1.5;
  }
  h2 {
    font-size: 64px;
  }
  p {
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
  }
  .hero {
    background: var(--secoundary-color) ;
    text-align: center;
    padding: 160px 20px;
  }

  .hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    
  }
  .hero h2 {
    font-family: var(--heading-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 1.5;
  
  }
  .text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }
.img-fluid-1 {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 10%;

}

.img-fluid-2 {
  padding: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  border-radius: 10%;

}

.btn-branding {
    
background: var(--branding-color);
border-radius: 4px;
color: white;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
  }

.btn-branding-outline {
background: var(--secoundary-color);
border: 1px solid var(--branding-color);
border-radius: 4px;
font-size: 18px;
line-height: 27px;
padding: 15px 30px;
}
.project-desciption {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }
  
  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
.instagram {   
  padding: 5px;
  display: block;
 
  }     
  .linkedin {
  padding: 5px;
  display: block;

  }
  .google {
    padding: 5px;
    display: block;
  
  }